.carddiv{
    background-color: white;
    height: 30%;
    width:40%
}

.paymentForm{
    margin: auto;
}

.mainSection{
    margin: auto;
}

.inputField:invalid[focused="true"]{
    border: 1px solid red;
}

.inputField:invalid[focused="true"] ~ .errorMsg{
    display: block;
}
.errorMsg{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}


.payment-logos{
    margin: 1% auto;
    /* background-color: black; */
    text-align: center;
    width: 100%;
}

.logo{
    display: inline-block;
    margin: 1% 2%;

}